In [8]:
import pandas as pd
import json
from pandas.io.json import json_normalize

##Loads the world bank data into Pandas dataframe
json_df = pd.read_json('data/world_bank_projects.json')

##Counts number of instances of each country short name
number_of_projects = json_df.countryshortname.value_counts()

##Outputs 10 countries with the most projects
number_of_projects.head(n=10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [9]:
##Loads world bank data as nested json strings
json_str = json.load(open('data/world_bank_projects.json'))

##Normalizes data from mjtheme_namecode variable into pandas dataframe
theme_list = json_normalize(json_str, 'mjtheme_namecode')

##Counts number of instances each code is used to describe a project
top_codes = theme_list.code.value_counts()

#Outputs top 10 major project themes
top_codes.head(n=10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [26]:
##Removes blank rows from the name series.
df2 = theme_list[['code', 'name']][theme_list.name.str.strip().str.len() > 0]

In [27]:
##Creates a dictionary of code numbers and theme names
dictdf2 = dict(zip(df2['code'], df2['name']))

In [28]:
##Creates new series with complete name info by replacing codes with names using a dictionary
newnames = theme_list.replace({'code':dictdf2})['code']

In [30]:
##Adds series to theme_list dataframe and shows 10 rows for verification the names are correct
theme_list['code_names'] = newnames
theme_list.head(n=10)

,code,name,code_names
0,8,Human development,Human development
1,11,,Environment and natural resources management
2,1,Economic management,Economic management
3,6,Social protection and risk management,Social protection and risk management
4,5,Trade and integration,Trade and integration
5,2,Public sector governance,Public sector governance
6,11,Environment and natural resources management,Environment and natural resources management
7,6,Social protection and risk management,Social protection and risk management
8,7,Social dev/gender/inclusion,Social dev/gender/inclusion
9,7,Social dev/gender/inclusion,Social dev/gender/inclusion